:root {
  --bg: #f9f9f9;
  --primary-text: #1a1a1a;
  --secondary-text: #666666;
  --accent-Or-Links: #005f99;
  --border-Or-Divider: #e0e0e0;
}

*,
::before,
::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

* {
  cursor: default;
}

a,
#img {
  cursor: pointer;
}

body {
  font-family: "Inter";
  background-color: var(--bg);
  color: var(--primaryText);
  /* background-color: #f7f7f7; */
  font-size: 16px;
}

#main > section:not(:last-of-type) {
  border-bottom: 1px solid var(--border-Or-Divider);
}

#main > section {
  padding: 2rem 0;
}

section > h2 {
  margin: 2vh 0;
}

section > ul > li {
  list-style-type: none;
  margin: 0.5vh 3vw;
}

#main {
  background-color: white;
  min-width: 300px;
  max-width: 1200px;
  padding: 5%;
  border: 1px solid var(--border-Or-Divider);
  border-radius: 10px;
  margin: 20px auto;
}

#personal-info li {
  margin: 0;
}

#img {
  display: block;
  margin: 2rem auto;
  width: 96%;
  box-shadow: 0 0 20px rgb(71, 71, 71);
}

a {
  color: var(--accent-Or-Links);
  text-decoration: none;
}

#summary {
  text-align: justify;
}

#personal-info,
#summary,
#projects,
#hobbies {
  line-height: 1.5rem;
}

#projects li {
  margin: 1rem 0;
}

#projects a {
  font-weight: bold;
}

#education {
  line-height: 1.8rem;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: flex-start;
  gap: 15px;
}

#education > div {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

#education > div:nth-of-type(n + 2) > .period {
  margin-left: -23px;
}

#languages {
  line-height: 2.5rem;
}

#languages img {
  width: 2rem;
  vertical-align: middle;
  margin-right: 20px;
  box-shadow: 0px 0px 5px rgb(201, 201, 201);
}

.full-img {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #1a1a1ac4;
  display: flex;
}

.full-img img {
  display: block;
  margin: auto;
  max-height: 80%;
  max-width: 80%;
}

#experience {
  display: flex;
  flex-flow: column nowrap;
  gap: 20px;
}

.job {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  padding-right: 70px;
}

.period {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.period-divider {
  width: 1px;
  height: 10px;
  background-color: black;
}

.responsibilities li {
  margin-left: 28px;
}

@media (max-width: 1200px) {
  #main {
    margin: auto;
    border: none;
    border-radius: 0;
  }
}

@media (min-width: 426px) {
  #skills ul {
    display: flex;
  }

  #skills li {
    list-style-type: none;
    margin: 0.5vh 1rem;
    padding-right: 1rem;
    margin-right: 0;
  }

  #languages li,
  #hobbies li {
    list-style-type: none;
    margin: 0.5vh 1rem;
    padding-right: 1rem;
    margin-right: 0;
  }

  #skills li:not(:last-child) {
    border-right: 1px solid var(--border-Or-Divider);
  }

  #skills h3 {
    margin: 2vh 0;
  }

  #personal-info {
    position: relative;
  }
  #img {
    width: 38%;
    max-width: 260px;
    position: absolute;
    right: 0;
    top: -4rem;
  }
}
