:root {
  --bg: #f9f9f9;
  --primary-text: #1a1a1a;
  --secondary-text: #666666;
  --accent-Or-Links: #005f99;
  --border-Or-Divider: #e0e0e0;
}

body {
  font-family: inter;
  background-color: var(--bg);
  color: var(--primaryText);
}

a:link,
a:visited,
a:hover,
a:active {
  color: var(--accent-Or-Links);
  text-decoration: none;
}

body > section:not(:last-of-type) {
  border-bottom: 1px solid black;
}

#summary {
  text-align: justify;
}
