:root {
  --bg: #f9f9f9;
  --primary-text: #1a1a1a;
  --secondary-text: #666666;
  --accent-Or-Links: #005f99;
  --border-Or-Divider: #e0e0e0;
}

*,
::before,
::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

#main {
  background-color: white;
  min-width: 300px;
  max-width: 1200px;
  margin: auto;
  padding: 40px;
}

#img {
  width: 75%;
  max-width: 25%;
  float: right;
  position: relative;
  top: -79px;
  right: -40px;
}
body {
  font-family: "Inter";
  background-color: var(--bg);
  color: var(--primaryText);
  background-color: #1a1a1a;
}

a:link,
a:visited,
a:hover,
a:active {
  color: var(--accent-Or-Links);
  text-decoration: none;
}

main > section:not(:last-of-type) {
  border-bottom: 1px solid black;
}

#summary {
  text-align: justify;
}
